* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
.header {
    text-align: center;
}
.navbar {
    background-color: #87ceeb;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #CC5500;
    color: black;
}
body {
    margin: 0;
    background-color: #E3735E;
}
.main-content {
    background-color: white;
}
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.footer {
    background-color: #87CEEB;
    padding: 10px;
    text-align: center;
}
.footer a {
    text-decoration: none;
}
div.column img {
    width: 200%;
}
div.column figcaption {
    display: block;
}