* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
.header {
    text-align: center;
}
.navbar {
    background-color: #87ceeb;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #CC5500;
    color: black;
}
body {
    margin: 0;
    background-color: #E3735E;
}
#container {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
    background-color: white;
}
.card-title {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
}
.card-content {
    padding: 2px 16px;
}
.footer {
    background-color: #87CEEB;
    padding: 10px;
    text-align: center;
}
.footer a {
    text-decoration: none;
}
div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
div.scroll-container img {
    padding: 10px;
    width: 50%;
}